In [1]:
import pandas as pd

df = pd.read_csv('../../data/processed/df_res.csv')
test = pd.read_csv('./test_res.csv')

In [2]:
df.head(1)

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,country_id,is_major_national_league,year,month,day,dayofweek,home_club_formation_code,away_club_formation_code,net_transfer_record_home_club_num,net_transfer_record_away_club_num
0,2321027,0.538462,0.0,0.0,2013-08-11,0.000272,0.000345,3.0,3.0,0.368421,...,0.122807,True,0.0,0.636364,0.333333,1.0,0.0,0.0,0.692991,0.645976

In [3]:
test

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,country_id,is_major_national_league,year,month,day,dayofweek,home_club_formation_code,away_club_formation_code,net_transfer_record_home_club_num,net_transfer_record_away_club_num
0,2321027,0.538462,0.0,0.0,2013-08-11,0.000272,0.000345,3.0,3.0,0.368421,...,0.122807,True,0.0,0.636364,0.333333,1.0,0.0,0.0,0.692991,0.645976

In [10]:
df.head(1).equals(test)

True